@import "../config.scss";

.image-viewer-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  &.visible {
    pointer-events: unset;
    opacity: 1;
    .image-viewer {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.image-viewer {
  position: relative;
  max-width: 80%;
  z-index: 7;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.75);
  max-height: fit-content;
  img {
    width: 100%;
  }
  .image-viewer-close-button {
    backdrop-filter: blur(2px);
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    width: 42px;
    height: 42px;
    opacity: 1;
    path {
        stroke: white;
    }
  }
}
