.panel {
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  background: transparent;
  // background-color: rgba(192, 197, 216, 0.15);
  // background-color: rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 3px 3px rgb(0 0 0 / 6%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  // display: flex;
  overflow: hidden;
  max-width: 100%;
  &.back-panel {
    // flex-flow: column;
    box-sizing: border-box;
    padding: 20px;
    // min-height: 100%;

    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    // background: rgba(255, 255, 255, 0.05);
    // backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
}
