.skill-tile {
  display: flex;
  width: 100%;
  text-align: center;
  // width: 430px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  // padding: 20px;  
  box-sizing: border-box;
  justify-content: center;

  .skill-star-container {
    // flex: 0 0 30%;
    display: inline-block;
    text-align: center;
    line-height: 0.75;
    white-space: nowrap;
    padding: 20px;
  }
}
.skill-star + .skill-star {
  margin-left: 3px;
}

.skill-stars {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10px;
}

.title+.skill-tile {
  margin-top: 20px;
}