.title {
  margin-bottom: 10px;
  h2 {
    font-weight: 400;
    color: #fff;
    font-size: 35.5px;
    margin: 0;
  }
  .subtitle {
    line-height: 40px;
    color: #dcdce6;
    margin: 0;
    font-size: 20px;
  }
  &.skill-star-title {
    h2 {
      font-family: Roboto;
      font-weight: 500;
      font-size: 17px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #fff;
    }
  }
  &.panel-title {
    h2 {
      font-family: Roboto;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 0.1em;
      text-align: left;
      color: #fff;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
