@import "../config.scss";

.about-me-page-skill-row {
  display: flex;
  flex-flow: row;
  gap: 20px;
  // flex-wrap: wrap;

  @media only screen and (max-width: $window-small) {
    flex-flow: column;
    .panel {
      width: 100%;
    }
  }
}
.about-me-page-profile-row {
  display: grid;
  grid-template-columns: 185px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-template-areas: "grid-left-column grid-text";
  max-width: 100%;

  @media only screen and (max-width: $window-medium) {
    grid-template-areas: "grid-left-column" "grid-text";
    grid-template-columns: 1fr;
    grid-template-rows: 185px 1fr;
    gap: 20px 0;
  }
  // flex-wrap: wrap;
}

.about-me-page-left-column {
  grid-area: grid-left-column;
  //   gap: 20px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  @media only screen and (max-width: $window-medium) {
    flex-flow: row;
  }

  @media only screen and (max-width: 880px) {
    flex-flow: row;
    > div:not(.about-me-page-picture) {
      display: none;
    }
  }
}

.about-me-page-picture {
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 880px) {
    width: 100%;
  }
  img {
    height: 100%;
    aspect-ratio: 1/1;
  }
}

.about-me-profile-text {
  grid-area: grid-text;
  //   margin: 20px;
  height: 100%;
  @media only screen and (max-width: $window-small) {
    p{
      font-size: 15px;
      line-height: 2;
    }
  }
}

.about-me-page-hire-links {
  width: 100%;
  p {
    line-height: 2;
    @media only screen and (max-width: $window-small) {
      font-size: 11px;
    }
  }
}
