$base-color: #1a1a2e;
$accent-color: #ff9ebc;

$text-color: rgb(197, 197, 197);
$text-color: rgb(220, 220, 230);
$window-small: 600px;
$window-medium: 1000px;

$portImageWidth: 365px;
$portImageHeight: 142px;
